# disallow directory named "private", it can be used to store things that should not end up in version control or images
# NOTE: needs to be at the root of the project
/private/
/gitignored/

# disallow version control, package managment, IDEs, tools etc
**/node_modules
**/.venv
**/.git
**/.vscode
**/.idea
**/.zed
**/coverage/
**/.eslintcache
**/.DS_Store

# do not include any data by default (except json)
*.csv
*.tsv

*.db
*.sqlite
*.sql
*.psql
*.sqlz
*.sqz
*.sql.gz
*.bson
*.jsonl

*.bin
*.dat
*.data

*.swp
*.tmp
.~lock* 
*.pid
*.seed
*.lock

*.gz
*.tgz
*.xz
*.zip
*.gzip
*.tar
*.xz
*.7z
*.rar

*.docx
*.doc
*.xlsx
*.xls
*.pptx
*.ppt
*.odt
*.odp
*.ods
*.pdf


# disallow logs
*.log
*.log*
**/logs/
**/log/
*.cpuprofile
*.heapprofile
*.heapsnapshot

# disallow configuration
*.yml
*.yaml
*.toml
*.conf
*.ini
**/toska_login/
**/toska_login/*
cypress.env.json
/cypress/


# disallow secrects
.env
.env*
*.env.*
.secrects
*.s3cfg

# disallow backups
**/backups/*
**/backups
**/backup/*
backup
**/dump/
**/dump
**/dumps/
**/dumps
**/databasedumps/
**/privateData
**/temp
**/minio-data/*

# additional inclusions here

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
uploads

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

debug.log
my_username
backups
toska_login/*

# exclusions here
!.env.template
!.env.sample
!.env.example
!docker-compose.yml