name: Test and deploy to staging

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'
      
      - run: npm install

      - name: Build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: grapa
          tags: staging ${{ github.sha }}
          containerfiles: |
            ./Dockerfile
          build-args: |
            BASE_PATH=
            GIT_SHA=${{ github.sha }}
            STAGING=true
            E2E=false
          # ulimit 4096 is required for the buildah to work
          # otherwise throws error "Too many open files"
          extra-args: --ulimit nofile=4096:4096

      - run: npm run lint
      - run: npm test
      - run: npm run test:front
      - run: npm run test:integration

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/toska
          username: toska+github
          password: ${{ secrets.QUAY_IO_TOKEN }}
